/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 68, 187, 164; /* #44bba4 */
  }

  body {
    @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-white transition-colors duration-200;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 dark:bg-gray-600;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500 dark:bg-gray-500;
}

::-webkit-scrollbar-thumb:active {
  @apply bg-gray-600 dark:bg-gray-400;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100 dark:bg-gray-800;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  @apply bg-gray-200 dark:bg-gray-700;
}

::-webkit-scrollbar-track:active {
  @apply bg-gray-300 dark:bg-gray-600;
}

::-webkit-scrollbar-corner {
  @apply bg-transparent;
}
