<div class="calendar-container">
  <div class="calendar-header">
    <div class="controls">
      <div class="navigation-buttons">
        <button
          class="btn-nav"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
        >
          <span class="flex items-center gap-2">
            <i class="bi bi-chevron-left"></i>
            <span>Previous</span>
          </span>
        </button>
        <button
          class="btn-nav"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          <span class="flex items-center gap-2">
            <i class="bi bi-calendar-event"></i>
            <span>Today</span>
          </span>
        </button>
        <button
          class="btn-nav"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
        >
          <span class="flex items-center gap-2">
            <i class="bi bi-chevron-right"></i>
            <span>Next</span>
          </span>
        </button>
      </div>
      <h3 class="current-date">{{ viewDate | date:'MMMM yyyy' }}</h3>
      <div class="view-buttons">
        <button
          class="btn-view"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Month
        </button>
        <button
          class="btn-view"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Week
        </button>
        <button
          class="btn-view"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Day
        </button>
      </div>
    </div>
  </div>

  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
    >
    </mwl-calendar-day-view>
  </div>
</div> 