@if ($organizationContext()) {
  @if ($organizationContext().data) {
    <div class="flex h-screen" [class.overflow-hidden]="!scrollable()">
      <app-organization-sidebar
        [organization]="$organizationContext().data!"
        (sidebarExpandedChange)="sidebarExpandedChange($event)"
      ></app-organization-sidebar>
      <div class="flex-1 flex flex-col ml-16" [class.ml-64]="sidebarExpanded">
        <app-navbar></app-navbar>
        <main class="flex-1 p-4" [class.overflow-hidden]="!scrollable()">
          <router-outlet></router-outlet>
        </main>
      </div>
    </div>
  } @else if ($organizationContext().isLoading) {
    <app-navbar></app-navbar>
    <app-spinner></app-spinner>
  } @else if ($organizationContext().isError) {
    <app-navbar></app-navbar>
    <app-error-alert [error]="$organizationContext().error"></app-error-alert>
  }
}
